.md-editor-wrap .w-md-editor-text,
.md-editor-wrap .w-md-editor-text-input,
.md-editor-wrap .w-md-editor-text-pre {
  height: 100% !important;
  min-height: 100% !important;
  line-height: 1.5 !important;
}
